* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f6fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.app {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    gap: 10px;
}

input {
    cursor: pointer;
    padding: 6px 10px;
}

ol {
    margin-top: 20px;
    padding-left: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.completed  span {
    text-decoration: line-through;
    opacity: 0.6;
}

.controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.filters button {
    margin-right: 5px;
}

.filter.active {
    background: #4c7ef3;
    color: white;
}

.info {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* .clearBtn {
    display: none;
} */